[submodule "external/ftxui"]
	path = external/ftxui
	url = https://github.com/LIUXIN557/FTXUI.git
	branch = feat/synchronized-output
[submodule "external/cpp-mcp"]
	path = external/cpp-mcp
	url = https://github.com/shaohaozhi286/cpp-mcp.git
